.characters {
    position: absolute;
    height: auto;
    filter: blur(.5px);
    filter: saturate(60%);
    pointer-events: none;
}

#waldo {
    width: 50px;
}

#luigi {
    width: 100px;
}

#mario {
    width: 120px;
}